<h1 class="jumbotron">Word Counter</h1>
<br>
<form action="/results">
  <div class="form-group">
    <label for="word">Enter a word:</label>
    <input name="word" type="text" required>
    <label for="sentence">Enter sentence, or two:</label>
    <input name="sentence" type="text" required>
  </div>
  <br>
  <button id="submit" type="submit" class="">Count!</button>
</form>
